#header{
    display: grid;
    grid-template-columns: 7fr 1fr 4fr;
    /* width: 100%; */
    color: var(--text-primary);
    padding: 5vh 4vw;
    font-weight: 800;
    font-size: 1.1rem;
    background-color: var(--primary-background);
}

#header svg{
    font-size: 1.2rem;
    fill: var(--text-secondary)  !important;
}


#header-searcher input{
    /* box-shadow: inset var(--bx-sh); */
    padding: 1rem;
    border-radius: 0.5rem;
    border: none;
    color: var(--text-secondary);
    font-weight: 800;
    height: 100%;  
    font-size: 1.3rem; 
    width: 50%;
    background-color: var(--secondary-background);
    transition: var(--tr);
}

#header-searcher input:focus{
    width: 100%;
    outline: none;
    border-bottom: var(--border);
}



#header-user{
    display: flex;
    align-items: center;
    gap: 3vw;
    background-color: var(--secondary-background);
    border-radius: 0.5rem;
    padding: 0;
    border-bottom: var(--border);
}

#user-profle{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1vw;
}

#user-money{
    padding: 0.5rem 2rem;
    border-radius: 0.5rem 0 0 0.5rem;
    background-color: var(--primary-background);
    color: var(--pastel-blue);
    /* border-left: 2px solid var(--pastel-purple); */
    height: 100%;
    display: flex;
    align-items: center;
    /* background-color: var(--secondary-background); */
}