#header{
    display: grid;
    grid-template-columns: 7fr 1fr 6fr;
    /* width: 100%; */
    color: var(--text-primary);
    padding: 5vh 4vw;
    font-weight: 800;
    font-size: 1.1rem;
    background-color: var(--primary-background);
}

#header svg{
    font-size: 2rem;
    fill: var(--text-secondary)  !important;
    cursor: pointer;
}


#header-searcher input{
    /* box-shadow: inset var(--bx-sh); */
    padding: 1rem;
    border-radius: 0.5rem;
    border: none;
    color: var(--text-secondary);
    font-weight: 800;
    height: 100%;  
    font-size: 1.3rem; 
    width: 50%;
    background-color: var(--secondary-background);
    transition: var(--tr);
}

#header-searcher input:focus{
    width: 100%;
    outline: none;
    border-bottom: var(--border);
}



#header-user{
    display: grid;
    grid-template-columns: 1fr 1fr 5fr;
    gap: 3vw;
    background-color: var(--primary-background);
    border-radius: 0.5rem;
    padding: 0;
    position: relative;
}

#user-profle{
    z-index: 1;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;

    margin-right: 1rem;
    min-height: 100%;
    height: fit-content;

    border-radius: 0.5rem;
    border-bottom: var(--border);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    transition: var(--tr);
    background-color: var(--primary-background);
}

.dropper-triger{
    display: flex;
    align-items: center;
    gap: 1vw;
    cursor: pointer;
    padding:0.2rem  1rem;
    height: fit-content;
}


#modal-user{
    /* background-color: var(--primary-background); */
    /* border-bottom: var(--border);     */
    width: 100%;
    border-radius: 0 0 0.5rem 0.5rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 2vh;
    font-size: 0.8em;
    padding: 2rem 1rem;
    animation: spawn 0.8s;
}


#modal-user .option{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap:1rem;
    cursor: pointer;
    width: 100%;
    border-radius: 0.5rem;
    padding: 0.5rem;
    border-left: var(--border);
}

#modal-user .option svg{
    width: 3vh;
    height: 3vh;
}

#modal-user .option h4{
    padding-left: 0.4rem;
    color:var(--text-primary)
}

#modal-user .option:hover h4{
    color: var(--pastel-blue) ;
}
#modal-user .option:hover svg{
    fill: var(--pastel-blue) !important;
}

#user-money{
    padding: 0.5rem 2rem;
    border-radius: 0.5rem 0.5rem;
    color: var(--pastel-blue);
    height: 100%;
    display: flex;
    align-items: center;
    background-color: var(--secondary-background);
}

#notification{
    border-radius: 0.5rem;
    border-bottom: var(--border);
    height: 100%;
    width: max-content;
    padding: 0 1rem;
    transition: var(--tr);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#notification-alert{
    background-color: var(--pastel-red);
    position: absolute;
    top: -0.5rem;
    right: -0.5rem;
    border-radius: 0.5rem;
    padding: 0 0.5rem;
    color:var(--primary-background)
}

#notification:hover{
    background-color: var(--pastel-blue);
}


#user-image{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    width: 4vh;
    height: 4vh;
   
    border-radius: 0.5rem;
}

#user-name{
    color:var(--text-secondary);
    padding: 0 1.5rem;
}


#droped{
    animation: rotate .2s;
    transform: rotate(180deg);
}