#sidebar{
    background-color: var(--secondary-background);
    height: 100vh;
    padding: 3vh 3vw;
    /* border-right: 0.2rem solid var(--primary-background); */
    position: relative;
}

.sidebar-logo-wraper{
    width: 90%;
    right: 0;
    margin: auto;
    position: absolute;
    border-radius: 1rem 0% 0% 1rem;
    background-color: var(--primary-background);
    display: flex;
    justify-content: center;
}


.sidebar-logo{
    transition: var(--tr);
    padding: 2vh 0;
    height: 10vh;
    margin-right: 5%;
}

.sidebar-options a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.sidebar-options{
    position: absolute;
    top:0;
    bottom:0;
    left: 0;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:4vh;
}

.icon-link{
    display: flex;
    gap: 1rem;
    justify-content: flex-start;
    gap:2vh;
    align-items: center;
    /* flex-direction: column; */
    font-size: 0.9rem;
    font-weight: 600;
    padding: 1rem;
    border-radius: 1rem;
    width: 80%;
    transition: var(--tr);
    border: none;
}

.icon-link.unactive path{
    fill: var(--text-terciary) !important;
}


.icon-link.active{
    /* background-color: var(--primary-background); */
    /* border-left: var(--border); */
    transform: scale(1.1);
    padding-left: 10%;
}

.icon-link.active h3{
    color: var(--text-primary)
}


.icon-link svg{
    width: 15%;
}

.icon-link h3{
    font-weight: 700;
    text-transform: uppercase;
    color: var(--text-terciary);
    animation: spawnLeft 0.2s;
}

.header-icon-wraper{
    position: absolute;
    bottom: 5vh;
    left: 0;
    right: 0;
    margin: auto;
    width: fit-content;
    border-radius: 0.5rem;
    background-color: var(--primary-background);
    cursor: pointer;
    padding: 0.5rem 2rem;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

}

.header-icon-wraper h4{
    color: var(--text-primary);
    animation: spawnLeft 0.9s;
}

.header-icon-wraper svg{
    fill: var(--text-primary)
}

#create-pool{
    width: 80%;
    color:var(--primary-background);
    background-color: var(--pastel-blue);
    padding: 1rem;
    border-radius: 0.5rem;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    animation: spawnLeft 0.9s;
}


#create-pool:hover{
    background-color:var(--primary-background);
    color: var(--pastel-blue);
}


#side-bar-toogler{
    position: absolute;
    top:0;
    bottom:0;
    right: 0;
    margin: auto;
    height: fit-content;
    cursor: pointer;
    z-index: 10;
    padding: 1rem 0.5rem;
}

#side-bar-toogler svg{
    fill:var(--pastel-blue)  !important;
    font-size: 2rem;
}

.sided{
    animation: rotate .2s;
    transform: rotate(180deg);
}

.full-icon .icon-link,.full-icon .header-icon-wraper{
    justify-content: center;
}

.full-icon .icon-link svg{
    width: 40% ;
}