#sidebar{
    background-color: var(--secondary-background);
    height: 100%;
    padding: 3vh 3vw;
    /* border-right: 0.2rem solid var(--primary-background); */
    position: relative;
}

.sidebar-logo-wraper{
    width: 90%;
    right: 0;
    margin: auto;
    position: absolute;
    border-radius: 1rem 0% 0% 1rem;
    background-color: var(--primary-background);
    display: flex;
    justify-content: center;
}

.sidebar-logo{
    transition: var(--tr);
    padding: 2vh 0;
    height: 10vh;
    margin-right: 5%;
}

.icon-link{
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1rem;
    font-weight: 600;
    padding: 1rem;
    border-radius: 1rem;
    width: 80%;
    transition: var(--tr);
}
.sidebar-options a{
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar-options{
    position: absolute;
    top:0;
    bottom:0;
    left: 0;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:4vh;
}

.icon-link.active{
    background-color: var(--primary-background);
}

.icon-link svg{
    width: 40%;
}

.icon-link h3{
    font-weight: 700;
    text-transform: uppercase;
    color: var(--text-secondary)
}

