:root {
  --primary-background: #1a1a1a; /* Dark Grayish-Black */
  --secondary-background: #2b2b2b; /* Slightly Lighter Gray */
  --text-primary: #ffffff; /* White Text */
  --text-secondary: #cccccc; /* Light Gray Text */
  
  --pastel-blue: #9dc7e2;
  --pastel-red: #f0988b;
  --pastel-green: #b4e2a6;
  --pastel-orange: #ffcc99;
  --pastel-purple: #d5a9f3;
  --pastel-lime: #c0f091;
}

*{
  -webkit-transition: inherit;
  transition: inherit;
  box-sizing: border-box;
  margin: 0;
  color: #dddddd;
}



body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


@import url(./styles/header.css);
@import url(./styles/body.css);
@import url(./styles/footer.css);
@import url(./styles/sidebar.css);
@import url(./styles/main.css);
