:root {
  --primary-background: #030f1e; /* Dark Grayish-Black */
  --secondary-background: #041722; /* Slightly Lighter Gray */
  --terciary-background: #05202b; /* Slightly Lighter Gray */
  --text-primary: #ffffff; /* White Text */
  --text-secondary: #cccccc; /* Light Gray Text */
  
  --pastel-blue: #70a8d5;
  --pastel-red: #e26a60;
  --pastel-green: #90d288;
  --pastel-orange: #ffa764;
  --pastel-purple: #bf97e6;
  --pastel-lime: #a3e06b;
  

  --tr: 0.4s all ease-in-out;
  --bx-sh: 0 0 0.2rem 0rem var(--text-secondary);
}


path:hover,
polygon:hover{
  filter: brightness(0.6);
}

*{
  -webkit-transition: inherit;
  transition: inherit;
  box-sizing: border-box;
  margin: 0;
  color: #dddddd;
}



body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


@import url(./styles/header.css);
@import url(./styles/body.css);
@import url(./styles/footer.css);
@import url(./styles/sidebar.css);
@import url(./styles/main.css);
@import url(./styles/home.css);
